font_family JetBrainsMono Nerd Font
enable_audio_bell true
font_size {{ .terminalFontSize }}
window_padding_width 5
background_opacity {{ .terminalBlur }}
hide_window_decorations no
confirm_os_window_close 0
cursor_trail 1
cursor_trail_start_threshold 50

include themes/mocha.conf
