# yaml-language-server: $schema=https://www.schemastore.org/github-cli-hosts.json
{{ $ghUser := (index .profileDefs .profile).ghUser -}}
github.com:
  git_protocol: ssh
  users:
    {{ $ghUser }}:
  user: {{ $ghUser }}
