*.json* linguist-language=json linguist-detectable
*.toml* linguist-language=toml linguist-detectable
*.yaml* linguist-language=yml linguist-detectable
*.yml* linguist-language=yml linguist-detectable

*config* linguist-language=ini linguist-detectable

*chezmoiignore* linguist-language=gitignore linguist-detectable
*chezmoiremove* linguist-language=gitignore linguist-detectable
*gitignore* linguist-language=gitignore linguist-detectable
*rgignore* linguist-language=gitignore linguist-detectable

*vimrc linguist-language=vim linguist-detectable
*vsvimrc linguist-language=vim linguist-detectable

*.ps1.tmpl linguist-language=powershell linguist-detectable

*.sh.tmpl linguist-language=sh linguist-detectable
*tmux.conf linguist-language=sh linguist-detectable
*zprofile* linguist-language=sh linguist-detectable
*zshenv* linguist-language=sh linguist-detectable
*zshrc* linguist-language=sh linguist-detectable
