# vim:ft=gitignore.chezmoitmpl

.config/browser-data/stylus/catppuccin.json

##########################################

# Exclude if no ~/.age-key.txt

{{ if (joinPath .chezmoi.homeDir ".age-key.txt" | lstat) }}
home/.config/rclone/rclone.conf
AppData/Roaming/rclone/rclone.conf
{{ end }}

##########################################

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**/*

.gtkrc-2.0.mine

.config/brave-flags.conf
.config/chrome-flags.conf
.config/chromium-flags.conf
.config/code-flags.conf
.config/dolphinrc
.config/electron-flags.conf
.config/kdeglobals
.config/libinput-gestures.conf
.config/mimeapps.list
.config/private_ktrashrc
.config/private_trashrc
.config/spotify-flags.conf

.config/fcitx5/**/*
.config/gammastep/**/*
.config/hypr/**/*
.config/sddm/**/*
.config/systemd/**/*
.config/tlp/**/*
.config/tlpui/**/*

{{ end }}

{{ if ne .chezmoi.os "windows" }}

.chezmoiscripts/windows/**/*
.local/bin/*.bat
.local/bin/*.reg
.local/bin/*.ps1

{{ end }}

{{ if ne .chezmoi.os "darwin" }}

.chezmoiscripts/darwin/**/*

{{ end }}

{{ if eq .chezmoi.os "windows" }}

.config/gdu/**/*

.local/bin/*.sh

{{ end }}

##########################################

{{ if eq .chezmoi.os "windows" }}

.config/Code/**/*
.config/lazygit/**/*
.config/rclone/**/*
.config/bat/**/*
.config/vlc/**/*
.config/crontab/**/*
.config/kanata/**/*
.config/kitty/**/*

.font/**/*
.npm-global/**/*
mount/**/*

.tmux.conf
.zprofile
.zshenv
.zshrc
.zshenv_private
.zsh_history

{{ else }}

AppData/**/*
Documents/**/*
.config/autohotkey/**/*
.config/komorebi/**/*
.config/microsoft-office/**/*
.config/scoop/**/*
.config/windows-tasks-scheduler/**/*
.config/xinmeng/**/*
.config/whkdrc/**/*
.config/yasb/**/*

.vsvimrc
.wslconfig

{{ end }}

##########################################

{{ if not (lookPath "sddm") }}
.config/sddm/themes/**/*
{{ end }}

##########################################

{{ if not (lookPath "hyprland") }}
.config/hypr/**/*
!.config/hypr/userprefs.conf
{{ end }}
