{{/* Default static values */}}

{{ $gpgId := "780EDBE72B368638D3DA4691071E9CD8A2D41057" }}
{{ $sshId := "071E9CD8A2D41057" }}
{{ $themes := list "dark" "light" }}
{{ $catppuccinFlavors := list "latte" "frappe" "macchiato" "mocha" }}
{{ $catppuccinAccentColors := list "blue" "flamingo" "green" "lavender" "maroon" "mauve" "peach" "pink" "red" "rosewater" "sapphire" "sky" "teal" "yellow" }}

{{/* Default dynamic values */}}

{{ $shell := "" }}
{{ $terminalFontSize := 13 }}
{{ $theme := "dark" }}
{{ $catppuccinLightFlavour := "latte" }}
{{ $catppuccinDarkFlavour := "mocha" }}
{{ $catppuccinAccentColor := "lavender" }}

{{/* Pre auto */}}

{{- if eq .chezmoi.os "windows" -}}
  {{- $shell = "pwsh" -}}
{{- else -}}
  {{- $shell = "zsh" -}}
{{- end -}}

{{/* Prompts */}}

{{ if stdinIsATTY }}
  {{ $terminalFontSize = promptInt "Enter terminal font size" 13 }}
  {{ $theme = promptChoice "Theme" $themes "dark" }}
  {{ $catppuccinLightFlavour = promptChoiceOnce . "catppuccinLightFlavour" "Catppuccin flavor for light mode" $catppuccinFlavors "latte" }}
  {{ $catppuccinDarkFlavour = promptChoiceOnce . "catppuccinDarkFlavour" "Catppuccin flavor for dark mode" $catppuccinFlavors "mocha" }}
  {{ $catppuccinAccentColor = promptChoiceOnce . "catppuccinAccentColor" "Catppuccin accent color" $catppuccinAccentColors "lavender" }}
{{ end }}

{{/* Post auto */}}

{{ $catppuccinFlavor := "" }}
{{ if eq $theme "dark" }}
  {{ $catppuccinFlavor = $catppuccinDarkFlavour }}
{{ else }}
  {{ $catppuccinFlavor = $catppuccinLightFlavour }}
{{ end }}

encryption = "gpg"
mode = "file" # file, symlink
progress = true

[data]
terminalFontSize = {{ $terminalFontSize }}
theme = {{ $theme | quote }}
catppuccinLightFlavour = {{ $catppuccinLightFlavour | quote }}
catppuccinDarkFlavour = {{ $catppuccinDarkFlavour | quote }}
catppuccinFlavor = {{ $catppuccinFlavor | quote }}
catppuccinAccentColor = {{ $catppuccinAccentColor | quote }}
gpgId = {{ $gpgId | quote }}
sshId = {{ $sshId | quote }}

[git]
autoAdd = true # Add changes to the source state after any change
autoCommit = false
autoPush = false

[gpg]
recipient = {{ $gpgId | quote }}
args = ["--quiet"]

[cd]
command = {{ $shell | quote }}

[completion]
custom = true

[edit]
command = "nvim"

[diff]
command = "delta"
pager = "delta"

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
