# NOTE: cannot, because Microsoft call it x64, but it should be amd64 that chezmoi cannot ...

["AppData/Local/TrafficMonitor"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "zhongyang219/TrafficMonitor" (printf "TrafficMonitor_V*_%s.zip" .chezmoi.arch) | quote }}
include = ["**/*"]
