{
  "cleanupPeriodDays": 20,
  "permissions": {
    "defaultMode": "acceptEdits"
  },
  "model": "opus",
  "hooks": {
    "Stop": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "node \"{{ .chezmoi.homeDir }}/.claude/notify.mjs\" stop",
            "async": true
          }
        ]
      }
    ],
    "Notification": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "node \"{{ .chezmoi.homeDir }}/.claude/notify.mjs\" notification",
            "async": true
          }
        ]
      }
    ],
    "PermissionRequest": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "node \"{{ .chezmoi.homeDir }}/.claude/notify.mjs\" permission",
            "async": true
          }
        ]
      }
    ],
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "rtk hook claude"
          }
        ]
      }
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "node \"{{ .chezmoi.homeDir }}/.claude/statusline-command.mjs\""
  },
  "enabledPlugins": {
    "gopls-lsp@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true,
    "claude-code-wakatime@wakatime": true,
    "pyright-lsp@claude-plugins-official": true
  },
  "extraKnownMarketplaces": {
    "wakatime": {
      "source": {
        "source": "git",
        "url": "https://github.com/wakatime/claude-code-wakatime.git"
      }
    }
  },
  "effortLevel": "medium",
  "tui": "fullscreen",
  "theme": "auto",
  "preferredNotifChannel": "auto",
  "remoteControlAtStartup": false,
  "inputNeededNotifEnabled": true,
  "agentPushNotifEnabled": true
}
