# Cannot includeTemplate because the template execute in order bruh bruh that cannot expand the .catppuccinFlavor var in chezmoitemplates/bat/config.tmpl
# color hash: {{ .catppuccinFlavor }}

$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

if (-not (Get-Command "bat" -ErrorAction SilentlyContinue))
{
  exit
}

Write-Host 'BUILDING BAT CACHE...'
bat cache --build
