# config hash: {{ include "AppData/Roaming/bat/config" | sha256sum }}
# themeFile hash: {{ include (printf "AppData/Roaming/bat/%s" .catppuccinFlavor) | sha256sum }}

$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

if (-not (Get-Command "bat" -ErrorAction SilentlyContinue))
{
  exit
}

Write-Host 'BUILDING BAT CACHE...'
bat cache --build
