font-family = JetBrainsMono Nerd Font
background-blur = true
font-size = {{ .terminalFontSize }}
background-opacity = {{ .terminalBlur }}
theme = catppuccin-{{ .catppuccinFlavor }}
confirm-close-surface = false
