{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}

{{ $gitArgs := "clone.args = ['--depth', '1']\npull.args = ['--ff-only', '--depth', '1']" }}

##########################################

[".tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
{{ $gitArgs }}

[".config/zathura/catppuccin-{{ .catppuccinFlavor }}"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/zathura/main/src/catppuccin-{{ .catppuccinFlavor }}"

[".config/kitty"]
type = "archive"
url = "https://github.com/catppuccin/kitty/archive/refs/heads/main.zip"
stripComponents = 1
include = ["*/themes/**"]

[".config/ghostty"]
type = "archive"
url = "https://github.com/catppuccin/ghostty/archive/refs/heads/main.zip"
stripComponents = 1
include = ["*/themes/**"]

[".config/sddm/themes/"]
type = "archive"
url = "https://github.com/catppuccin/sddm/releases/latest/download/catppuccin-{{ .catppuccinFlavor }}.zip"
include = ["**/*"]

##########################################

{{ end }}
