{{ if eq .osId "windows" }}
["AppData/Local/nvim"]
{{ else }}
[".config/nvim"]
{{ end }}
type = "git-repo"
url = "git@github.com:uitdots/nvim.git"

{{ if eq .osId "windows" }}
["vimfile"]
{{ else }}
[".vim"]
{{ end }}
type = "git-repo"
url = "git@github.com:uitdots/vim.git"

{{ if eq .osId "windows" }}
["AppData/Roaming/alacritty/catppuccin.toml"]
{{ else }}
[".config/alacritty/catppuccin.toml"]
{{ end }}
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/alacritty/refs/heads/main/catppuccin-{{ .catppuccinFlavor }}.toml"

{{ if eq .osId "windows" }}
["AppData/Roaming/bat/themes/Catppuccin {{ .catppuccinFlavor | title }}.tmTheme"]
{{ else }}
[".config/bat/themes/Catppuccin {{ .catppuccinFlavor | title }}.tmTheme"]
{{ end }}
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/bat/refs/heads/main/themes/Catppuccin {{ .catppuccinFlavor | title }}.tmTheme"

[".config/delta/catppuccin.gitconfig"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/delta/refs/heads/main/catppuccin.gitconfig"

{{ if eq .osId "windows" }}
["AppData/Local/glow/Config/catppuccin.json"]
{{ else }}
[".config/glow/catppuccin.json"]
{{ end }}
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/glamour/main/themes/catppuccin-{{ .catppuccinFlavor }}.json"

{{ if eq .osId "windows" }}
["AppData/Roaming/mpv/mpv/catppuccin.conf"]
{{ else }}
[".config/mpv/catppuccin.conf"]
{{ end }}
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/mpv/main/themes/{{ .catppuccinFlavor }}/{{ .catppuccinAccentColor }}.conf"

[".config/atac/key_bindings.toml"]
type = "file"
url = "https://raw.githubusercontent.com/Julien-cpsn/ATAC/main/example_resources/key_bindings/vim_key_bindings.toml"

[".config/browser-data/stylus/catppuccin-youtube-music.user.css"]
type = "file"
url = "https://github.com/catppuccin/youtubemusic/raw/main/src/youtubemusic.user.css"

[".config/browser-data/stylus/catppuccin-discord.user.css"]
type = "file"
url = "https://github.com/catppuccin/discord/raw/main/discord.user.css"

##########################################

[".config/browser-data/extensions/bypass-paywalls-chrome-clean"]
type = "archive"
url = "https://gitflic.ru/project/magnolia1234/bpc_uploads/blob/raw?file=bypass-paywalls-chrome-clean-master.zip"
stripComponents = 1

[".config/browser-data/extensions/useful-script"]
type = "git-repo"
url = "https://github.com/Useful-Scripts-Extension/useful-script.git"
{{ .externalGitArgs }}

##########################################

[".config/git/githelpers.sh"]
type = "file"
url = "https://raw.githubusercontent.com/stevearc/dotfiles/master/.githelpers"
