{{ if eq .chezmoi.os "linux" "darwin" }}

##########################################

[".config/tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
{{ .externalGitArgs }}

[".config/zathura/catppuccin"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/zathura/refs/heads/main/themes/catppuccin-{{ .catppuccinFlavor }}"

[".config/btop/themes/catppuccin.theme"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/btop/refs/heads/main/themes/catppuccin_{{ .catppuccinFlavor }}.theme"

[".config/kitty/themes"]
type = "archive"
url = "https://github.com/catppuccin/kitty/archive/refs/heads/main.zip"
stripComponents = 2
include = ["kitty-main/themes/*{{ .catppuccinFlavor }}.conf"]

[".config/ghostty/themes/catppuccin.conf"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/ghostty/refs/heads/main/themes/catppuccin-{{ .catppuccinFlavor }}.conf"

##########################################

{{ end }}
