# vim:ft=zathurarc.chezmoitmpl

set selection-clipboard clipboard
include "catppuccin"
set font "Google Sans {{ .terminalFontSize }}"
set recolor false

map <BackSpace> navigate previous
map <Left> navigate previous
map <Right> navigate next
