"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

# [[mgr.prepend_keymap]]
# on   = [ "p" ]
# run  = "plugin --sync smart-paste"
# desc = "Paste into the hovered directory or CWD"

# compress
[[mgr.prepend_keymap]]
on   = [ "c", "a" ]
run  = "plugin compress"
desc = "Archive selected files"

# relative-motions
[[mgr.prepend_keymap]]
on =  ["M"] 
run = "plugin relative-motions"
desc = "Trigger a new relative motion"

### toggle-pane
[[mgr.prepend_keymap]]
on   = "<A-1>"
run  = "plugin toggle-pane max-parent"
desc = "Toggle max parent"
[[mgr.prepend_keymap]]
on   = "<C-1>"
run  = "plugin toggle-pane min-parent"
desc = "Toggle min parent"
[[mgr.prepend_keymap]]
on   = "<A-2>"
run  = "plugin toggle-pane max-current"
desc = "Toggle current"
[[mgr.prepend_keymap]]
on   = "<C-2>"
run  = "plugin toggle-pane min-current"
desc = "Toggle min current"
[[mgr.prepend_keymap]]
on   = "<A-3>"
run  = "plugin toggle-pane max-preview"
desc = "Toggle preview" 
[[mgr.prepend_keymap]]
on   = "<C-3>"
run  = "plugin toggle-pane min-preview"
desc = "Toggle min preview"

### what-size
[[mgr.prepend_keymap]]
on   = [".", "s"]
run  = "plugin what-size" # or "plugin what-size --args='--clipboard'"
desc = "Calc size of selection or cwd"

[[mgr.prepend_keymap]]
on   = [".", "S"]
run  = "plugin what-size --args='--clipboard'"
desc = "Calc size of selection or cwd & copy to clipboard"

### ouch
[[mgr.prepend_keymap]]
on   = "O"
run  = "plugin ouch"
desc = "Compress with ouch"

# Config for yazi

[[mgr.prepend_keymap]]
on   = [ "g", "G" ]
run  = "cd ~/gits/"
desc = "go to gits directory"

[[mgr.prepend_keymap]]
on   = [ "g", "n" ]
{{ if ne .osId "windows" }}
run  = "cd %LOCALAPPDATA/nvim/"
{{ else }}
run  = "cd $HOME/.config/nvim/"
{{ end }}
desc = "go to to nvim config directory"

[[mgr.prepend_keymap]]
on   = [ "g", "C" ]
run  = "cd ~/gits/code/"
desc = "go to to code directory"

[[mgr.prepend_keymap]]
on   = [ "g", "v" ]
run  = "cd $HOME/Videos/"
desc = "go to to videos directory"

[[mgr.prepend_keymap]]
on   = [ "g", "p" ]
run  = "cd $HOME/Pictures/"
desc = "go to to pictures directory"

[[mgr.prepend_keymap]]
on   = [ "g", "d" ]
run  = "cd $HOME/Downloads/"
desc = "go to to downloads directory"

[[mgr.prepend_keymap]]
on   = [ "g", "D" ]
run  = "cd {{ .chezmoi.sourceDir }}"
desc = "go to to dotfiles management"
