{{ if lookPath "code" -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ range .vscode.extensions -}}
code --install-extension --force {{ . }} || echo "vscode: failed to install {{ . }}" >&2
{{ end -}}

{{ end -}}
