#!/usr/bin/env bash

{{ $tlp := lookPath "tlp" }}

{{ if $tlp }}

set -eufo pipefail

echo 'CONFIGURING TLP...'
sudo rm /etc/tlp.conf || true
sudo ln -s ~/.config/tlp/tlp.conf /etc/tlp.conf
sudo systemctl enable tlp.service
sudo systemctl start tlp.service

{{ $tlpRdw := lookPath "tlpRdw" }}
{{ if $tlpRdw }}
sudo systemctl enable NetworkManager-dispatcher.service
{{ end }}

sudo systemctl mask systemd-rfkill.service systemd-rfkill.socket

{{ end }}
