#!/usr/bin/env bash

{{ $docker := lookPath "docker" }}

{{ if $docker }}

set -eufo pipefail

echo "SETTING UP DOCKER..."
sudo rm "$HOME/.docker/" -rf || true
sudo groupadd docker || true
sudo usermod -aG docker "$USER"

{{ end }}
