{{ if lookPath "docker" -}}
#!/usr/bin/env bash

set -eufo pipefail

echo "SETTING UP DOCKER..."
if [ -d "$HOME/.docker" ]; then
  sudo chown -R "$USER:$USER" "$HOME/.docker/"
fi
sudo groupadd docker || true
sudo usermod -aG docker "$USER"

{{ end -}}
