#!/usr/bin/env bash

{{ $rclone := lookPath "rclone" }}

{{ if $rclone }}

set -eufo pipefail

echo "SETUP MOUNTING RCLONE DRIVE..."
mkdir -p "$HOME/mount/rclone-drives" || true
systemctl --user start rclone-drives
systemctl --user enable rclone-drives

{{ end }}
