"$schema" = 'https://starship.rs/config-schema.json'

{{- $f := .starship.format }}
{{- $toolchain := $f.toolchain.common }}
{{- $devops := $f.devops.common }}
{{- if .isPersonal }}
{{- $toolchain = concat $toolchain $f.toolchain.personal }}
{{- $devops = concat $devops $f.devops.personal }}
{{- end }}
{{- if .isWork }}
{{- $toolchain = concat $toolchain (default (list) (index $f.toolchain.work .company)) }}
{{- $devops = concat $devops (default (list) (index $f.devops.work .company)) }}
{{- end }}
{{- $toolchain = uniq $toolchain }}
{{- $devops = uniq $devops }}
{{- $active := concat $toolchain $devops }}

format = """
[](surface0)\
$os\
$username\
[](bg:red fg:surface0)\
$hostname\
[](bg:peach fg:red)\
$directory\
[](fg:peach bg:yellow)\
$git_branch\
$git_status\
[](fg:yellow bg:green)\
{{ range $toolchain }}${{ . }}\
{{ end }}[](fg:green bg:blue)\
{{ range $devops }}${{ . }}\
{{ end }}[](fg:blue bg:lavender)\
$cmd_duration\
$sudo\
[ ](fg:lavender)\
$line_break$character"""

command_timeout = 999999 # mise may download
palette = 'catppuccin'
scan_timeout = 10000

{{- $palette := index .catppuccin.palettes .catppuccinFlavor }}
[palettes.catppuccin]
rosewater = {{ $palette.rosewater | quote }}
flamingo = {{ $palette.flamingo | quote }}
pink = {{ $palette.pink | quote }}
mauve = {{ $palette.mauve | quote }}
red = {{ $palette.red | quote }}
maroon = {{ $palette.maroon | quote }}
peach = {{ $palette.peach | quote }}
yellow = {{ $palette.yellow | quote }}
green = {{ $palette.green | quote }}
teal = {{ $palette.teal | quote }}
sky = {{ $palette.sky | quote }}
sapphire = {{ $palette.sapphire | quote }}
blue = {{ $palette.blue | quote }}
lavender = {{ $palette.lavender | quote }}
text = {{ $palette.text | quote }}
subtext1 = {{ $palette.subtext1 | quote }}
subtext0 = {{ $palette.subtext0 | quote }}
overlay2 = {{ $palette.overlay2 | quote }}
overlay1 = {{ $palette.overlay1 | quote }}
overlay0 = {{ $palette.overlay0 | quote }}
surface2 = {{ $palette.surface2 | quote }}
surface1 = {{ $palette.surface1 | quote }}
surface0 = {{ $palette.surface0 | quote }}
base = {{ $palette.base | quote }}
mantle = {{ $palette.mantle | quote }}
crust = {{ $palette.crust | quote }}

[os]
disabled = false
style = "bg:surface0 fg:text"

[os.symbols]
AIX = ""
AlmaLinux = ""
Alpaquita = ""
Alpine = ""
ALTLinux = ""
Amazon = ""
Android = ""
AOSC = ""
Arch = ""
Artix = ""
Bazzite = ""
Bluefin = ""
CachyOS = ""
CentOS = ""
Debian = ""
DragonFly = ""
Elementary = ""
Emscripten = ""
EndeavourOS = ""
Fedora = ""
FreeBSD = ""
Garuda = ""
Gentoo = ""
HardenedBSD = "󰞌"
Hurd = ""
Illumos = ""
InstantOS = ""
Ios = "󰀷"
Kali = ""
KDENeon = ""
Linux = ""
Mabox = ""
Macos = ""
Manjaro = ""
Mariner = ""
MidnightBSD = ""
Mint = ""
NetBSD = ""
NixOS = ""
Nobara = ""
OpenBSD = ""
OpenCloudOS = ""
openEuler = ""
openSUSE = ""
OracleLinux = "󰺡"
PikaOS = ""
Pop = ""
Raspbian = ""
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
Redox = "󰀘"
RockyLinux = ""
Solus = ""
SUSE = ""
Ubuntu = ""
Ultramarine = ""
Unknown = ""
Uos = ""
Void = ""
Windows = "󰍲"
Zorin = ""

[username]
show_always = true
style_user = "bg:surface0 fg:text"
style_root = "bold bg:surface0 fg:maroon"
format = '[ $user ]($style)'

[hostname]
ssh_only = false
style = "bg:red fg:base"
format = "[ ($ssh_symbol )$hostname ]($style)"

[directory]
style = "fg:base bg:peach"
format = "[ $path ]($style)"
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"code" = " "
"projects" = " "
"homelab" = "󱃾 "
"nvim" = " "
".vim" = " "
"chezmoi" = "󰘓 "

[git_branch]
symbol = ""
style = "bg:yellow"
format = '[[ $symbol $branch ](fg:base bg:yellow)]($style)'

[git_status]
style = "bg:yellow"
format = '[[($all_status$ahead_behind )](fg:base bg:yellow)]($style)'
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?${count}"
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "✘${count}"

{{ if has "nodejs" $active -}}
[nodejs]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "c" $active -}}
[c]
symbol = " "
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "rust" $active -}}
[rust]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "golang" $active -}}
[golang]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version)( $mod_version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "php" $active -}}
[php]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "gradle" $active -}}
[gradle]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "java" $active -}}
[java]
symbol = " "
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "kotlin" $active -}}
[kotlin]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "python" $active -}}
[python]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $pyenv_prefix)( $version)( \($virtualenv\)) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "direnv" $active -}}
[direnv]
symbol = ""
disabled = false
style = "bg:text"
format = '[[ $symbol$loaded/$allowed ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "buf" $active -}}
[buf]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "typst" $active -}}
[typst]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "dotnet" $active -}}
[dotnet]
symbol = ""
style = "bg:text"
format = '[[ $symbol( $version) ](fg:base bg:green)]($style)'

{{ end -}}
{{ if has "docker_context" $active -}}
[docker_context]
symbol = ""
style = "bg:blue"
format = '[[ $symbol( $context) ](fg:base bg:blue)]($style)'

{{ end -}}
{{ if has "kubernetes" $active -}}
[kubernetes]
style = "bg:blue"
format = '[[ $symbol( $context)( \($namespace\)) ](fg:base bg:blue)]($style)'
disabled = false
symbol ="󱃾"

{{ end -}}
{{ if has "terraform" $active -}}
[terraform]
style = "bg:blue"
format = '[[ $symbol( $version)( \($workspace\)) ](fg:base bg:blue)]($style)'
symbol = ""

{{ end -}}
{{ if has "aws" $active -}}
[aws]
symbol = ""
style = "bg:blue"
format = '[[ $symbol( $profile)( $region)( $duration) ](fg:base bg:blue)]($style)'

{{ end -}}
{{ if has "azure" $active -}}
[azure]
symbol = "󰠅"
style = "bg:blue"
disabled = false
format = '[[ $symbol( $subscription) ](fg:base bg:blue)]($style)'

{{ end -}}
{{ if has "gcloud" $active -}}
[gcloud]
symbol = "󱇶"
style = "bg:blue"
format = '[[ $symbol($account)( $project)( $region) ](fg:base bg:blue)]($style)'

{{ end -}}
[conda]
style = "bg:blue"
format = '[[ $symbol( $environment) ](fg:#base bg:blue)]($style)'

[time]
disabled = true
time_format = "%R"
style = "bg:color_bg1"
format = '[[  $time ](fg:base bg:lavender)]($style)'

[sudo]
style = "fg:base bg:lavender"
disabled = false
format = "[ $symbol]($style)"

[cmd_duration]
disabled = false
min_time = 2_000
show_milliseconds = false
show_notifications = false
min_time_to_notify = 300_000
format = '[   $duration ](fg:surface0 bg:lavender)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[](bold fg:text)'
error_symbol = '[](bold fg:red)'
vimcmd_symbol = '[](bold fg:text)'
vimcmd_replace_one_symbol = '[](bold fg:blue)'
vimcmd_replace_symbol = '[](bold fg:lavender)'
vimcmd_visual_symbol = '[](bold fg:yellow)'
