# yaml-language-server: $schema=https://www.gh-dash.dev/schema.json
prSections:
  - title: My Open PRs
    filters: is:open author:@me
  - title: Needs My Review
    filters: is:open review-requested:@me
  - title: My PRs
    filters: author:@me
  - title: Open PRs
    filters: is:open
  - title: Involved
    filters: is:open involves:@me -author:@me
issuesSections:
  - title: My Open Issues
    filters: is:open author:@me
  - title: Needs My Attention
    filters: is:open assignee:@me -author:@me
  - title: Open Issues
    filters: is:open
  - title: Created by My PRs
    filters: is:open linked:pr author:@me
  - title: Assigned
    filters: is:open assignee:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
defaults:
  preview:
    open: true
    width: 50
  prsLimit: 20
  issuesLimit: 20
  view: prs
  layout:
    prs:
      updatedAt:
        width: 7
      repo:
        width: 15
      author:
        width: 15
      assignees:
        width: 20
        hidden: false
      base:
        width: 15
        hidden: false
      lines:
        width: 16
    issues:
      updatedAt:
        width: 7
      repo:
        width: 15
      creator:
        width: 10
      assignees:
        width: 20
        hidden: false
  refetchIntervalMinutes: 30
keybindings:
  universal:
    - key: g
      name: lazygit
      command: cd {{ "{{" }} .RepoPath {{ "}}" }} && lazygit
  prs:
    - key: S
      name: squash merge
      command: gh pr merge {{ "{{" }} .PrNumber {{ "}}" }} --repo {{ "{{" }} .RepoName {{ "}}" }} --squash --delete-branch
theme:
  ui:
    table:
      showSeparator: false
colors:
  text:
    {{- $palette := index .catppuccin.palettes .catppuccinFlavor }}
    primary: {{ $palette.text | quote }}
    secondary: {{ index $palette .catppuccinAccentColor | quote }}
    inverted: {{ $palette.surface0 | quote }}
    faint: {{ $palette.surface1 | quote }}
    warning: {{ $palette.red | quote }}
    success: {{ $palette.green | quote }}
  background:
    selected: {{ $palette.overlay2 | quote }}
  border:
    primary: {{ $palette.lavender | quote }}
    secondary: {{ index $palette .catppuccinAccentColor | quote }}
    faint: {{ $palette.teal | quote }}
pager:
  diff: "delta" # delta | less
