{{- if eq .osFamily "ubuntu" }}
[tools]
aws-cli = { version = "latest", symlink_bins = "true" }
azure = { version = "latest", dependency_prereleases = "allow", with = ["pip"] }
"github:matsest/lazyazure" = "latest"
checkov = "latest"
tflint = "latest"
trivy = "latest"
{{- end }}
