k9s:
  ui:
    skin: "catppuccin-{{ .catppuccinFlavor }}{{ if .transparent }}-transparent{{ end }}"
    enableMouse: true
    logoless: true
    headless: true
  logger:
    fullScreen: true
    textWrap: true
