{{- $catppuccinFlavor := "" }}
{{- if eq .theme "dark" }}
{{-   $catppuccinFlavor = .catppuccin.darkFlavour }}
{{- else }}
{{-   $catppuccinFlavor = .catppuccin.lightFlavour }}
{{- end }}
--theme="Catppuccin {{ $catppuccinFlavor | title }}"
